<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Computación</title>
    <link rel="icon" type="image/x-icon" href="../img/icono_pagina.png" />
    <link rel="stylesheet" href="../css/estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Inicio de encabezado-->
    <header class="encabezado">
      <!-- Logo Pagina-->
      <div class="encabezado_logo">
        <img src="../img/icono_pagina.png" alt="Logo Pagina" />
      </div>
      <!-- Cierre Logo Pagina-->
      <!-- BUSCADOR-->
      <div class="encabezado_buscador">
        <form>
          <input
            type="text"
            placeholder="Buscador"
            class="encabezado_buscador_text"
          />
          <input type="button" value="L" class="encabezado_buscador_button" />
        </form>
      </div>
      <!-- CIERRE DEL BUSCADOR-->
      <!-- INICIO DE NAV-->
      <nav class="encabezado_nav">
        <ul class="encabezado_nav_items">
          <li>
            <a href="../index.html" class="encabezado_nav_items_boton"
              >INICIO
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/productos.html" class="encabezado_nav_items_boton"
              >PRODUCTOS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/servicios.html" class="encabezado_nav_items_boton"
              >SERVICIOS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/nosotros.html" class="encabezado_nav_items_boton"
              >NOSOTROS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a
              href="../view/preguntasFrecuentes.html"
              class="encabezado_nav_items_boton"
              >PREGUNTAS FRECUENTES
              <div class="circle"></div
            ></a>
          </li>
        </ul>
      </nav>
      <!-- CIERRE DE NAV-->
      <!-- REDES SOCIALES-->
      <div class="encabezado_redes">
        <a
          href="https://web.whatsapp.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/whatsapp.png" alt="Whats app"
        /></a>
        <a
          href="https://twitter.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/twitter.png" alt="Twitter"
        /></a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/instagram.png" alt="Instagram"
        /></a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/facebook.png" alt="Facebook"
        /></a>
      </div>
      <!-- CIERRE REDES SOCIALES-->
    </header>
    <!-- CIERRE DEL ENCABEZADO-->
    <!-- INICIO DEL CONTENIDO-->
    <main class="main">
      <h1>Contacto</h1>
      <section class="contacto">
        <!-- formulario de contacto -->
        <form id="contactoFormulario" action="#" class="contacto_formulario">
          <div>
            <label for="name">Nombre:</label>
            <input type="text" name="name" placeholder="Nombre" />
          </div>
          <div>
            <label for="lastName">Apellido:</label>
            <input type="text" name="lastName" placeholder="Apellido" />
          </div>
          <div>
            <label for="age">Edad:</label>
            <input type="number" name="age" placeholder="Edad" />
          </div>
          <div>
            <label for="gender">Sexo:</label>
            <input type="radio" name="gender" value="man" />Hombre
            <input type="radio" name="gender" value="woman" />Mujer
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="ejemplo@gmail.com" />
          </div>
          <div>
            <label for="observaciones"> Observaciones:</label>
            <textarea
              name="observaciones"
              placeholder="Observaciones"
            ></textarea>
          </div>
          <div id="checkbox">
            <label for="acepto">Acepto terminos y condiciones.</label>
            <input type="checkbox" name="acepto" value="1" />
          </div>
          <input type="submit" value="Enviar" />
        </form>
      </section>
    </main>
    <!-- CIERRE DEL CONTENIDO-->
    <!-- INICIO DE FOOTER-->
    <footer class="footer">
      <div class="footer_contacto">
        <a href="../view/contacto.html">CONTACTO</a>
      </div>
      <div class="footer_autor">
        <p>Copyright © Raspa, Matias</p>
      </div>
    </footer>
    <!-- Cierre DE FOOTER-->
    <!-- VALIDACION FORMULARIO-->
    <script src="../js/validacionesFormulario.js"></script>
  </body>
</html>
