<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Computación</title>
    <link rel="icon" type="image/x-icon" href="../img/icono_pagina.png" />
    <link rel="stylesheet" href="../css/estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Inicio de encabezado-->
    <header class="encabezado">
      <!-- Logo Pagina-->
      <div class="encabezado_logo">
        <img src="../img/icono_pagina.png" alt="Logo Pagina" />
      </div>
      <!-- Cierre Logo Pagina-->
      <!-- BUSCADOR-->
      <div class="encabezado_buscador">
        <form>
          <input
            type="text"
            placeholder="Buscador"
            class="encabezado_buscador_text"
          />
          <input type="button" value="L" class="encabezado_buscador_button" />
        </form>
      </div>
      <!-- CIERRE DEL BUSCADOR-->
      <!-- INICIO DE NAV-->
      <nav class="encabezado_nav">
        <ul class="encabezado_nav_items">
          <li>
            <a href="../index.html" class="encabezado_nav_items_boton"
              >INICIO
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/productos.html" class="encabezado_nav_items_boton"
              >PRODUCTOS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/servicios.html" class="encabezado_nav_items_boton"
              >SERVICIOS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/nosotros.html" class="encabezado_nav_items_boton"
              >NOSOTROS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a
              href="../view/preguntasFrecuentes.html"
              class="encabezado_nav_items_boton"
              >PREGUNTAS FRECUENTES
              <div class="circle"></div
            ></a>
          </li>
        </ul>
      </nav>
      <!-- CIERRE DE NAV-->
      <!-- REDES SOCIALES-->
      <div class="encabezado_redes">
        <a
          href="https://web.whatsapp.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/whatsapp.png" alt="Whats app"
        /></a>
        <a
          href="https://twitter.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/twitter.png" alt="Twitter"
        /></a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/instagram.png" alt="Instagram"
        /></a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/facebook.png" alt="Facebook"
        /></a>
      </div>
      <!-- CIERRE REDES SOCIALES-->
    </header>
    <!-- CIERRE DEL ENCABEZADO-->
    <!-- INICIO DEL CONTENIDO-->
    <main class="main">
      <h3>SOBRE NOSOTROS</h3>
      <div class="nosotros_sobre">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
          aut illum laudantium unde, mollitia tempora sit, a molestias officia
          veniam officiis assumenda. Totam reprehenderit dolor ut magnam
          perspiciatis hic velit. Consequatur error libero modi adipisci,
          repudiandae sed possimus sequi? Ratione soluta officia quia expedita
          quos rem nesciunt aperiam tempore voluptatibus fugiat sunt itaque
          assumenda, at modi, aut quod sint repellat! Inventore iure provident
          corrupti maiores perferendis accusantium excepturi labore ex doloribus
          laborum necessitatibus, ducimus debitis deserunt dolore nisi quas ipsa
          ab hic nulla distinctio vero rem beatae. Ut, quas neque? Ipsam totam
          labore animi tempora est suscipit? Hic perferendis non autem porro est
          cupiditate numquam ratione eum provident eos. Similique voluptate
          mollitia tempora fuga inventore, libero quas neque tempore delectus.
          Est quod maiores commodi? Rerum accusantium porro distinctio earum.
          Porro itaque iusto autem accusamus labore consequuntur rerum ut
          tempora rem aliquid quo dignissimos nesciunt sunt quasi magni,
          quisquam maiores ullam?
        </p>
        <div class="nosotros_sobre_imagen">
          <div id="user-container">
            <img id="user-image" src="" alt="User Image" />
            <h3 id="user-name"></h3>
          </div>
        </div>
      </div>
      <hr />
      <div class="nosotros_donde_estamos">
        <h3>¿DONDE ESTAMOS?</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.3856415626406!2d-58.37391562344086!3d-34.670215261014626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3334b39d33bdd%3A0xdb9a534cc563fa7!2sEstadio%20Libertadores%20de%20Am%C3%A9rica%20-%20Ricardo%20Enrique%20Bochini!5e0!3m2!1ses!2sar!4v1685474034793!5m2!1ses!2sar"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <p>
          Direccion: Ricardo Enrique Bochini 751, Avellaneda, Provincia de
          Buenos Aires.<br />
          Telefono: 91 642 32 16<br />
          Fax: 91 642 32 47
        </p>
      </div>
    </main>
    <!-- CIERRE DEL CONTENIDO-->
    <!-- INICIO DE FOOTER-->
    <footer class="footer">
      <div class="footer_contacto">
        <a href="../view/contacto.html">CONTACTO</a>
      </div>
      <div class="footer_autor">
        <p>Copyright © Raspa, Matias</p>
      </div>
    </footer>
    <!-- Cierre DE FOOTER-->
    <!-- LLAMADO A LA API-->
    <script src="../js/apiRandomUser.js"></script>
  </body>
</html>
