<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Computación</title>
    <link rel="icon" type="image/x-icon" href="../img/icono_pagina.png" />
    <link rel="stylesheet" href="../css/estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Inicio de encabezado-->
    <header class="encabezado">
      <!-- Logo Pagina-->
      <div class="encabezado_logo">
        <img src="../img/icono_pagina.png" alt="Logo Pagina" />
      </div>
      <!-- Cierre Logo Pagina-->
      <!-- BUSCADOR-->
      <div class="encabezado_buscador">
        <form>
          <input
            type="text"
            placeholder="Buscador"
            class="encabezado_buscador_text"
          />
          <input type="button" value="L" class="encabezado_buscador_button" />
        </form>
      </div>
      <!-- CIERRE DEL BUSCADOR-->
      <!-- INICIO DE NAV-->
      <nav class="encabezado_nav">
        <ul class="encabezado_nav_items">
          <li>
            <a href="../index.html" class="encabezado_nav_items_boton"
              >INICIO
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/productos.html" class="encabezado_nav_items_boton"
              >PRODUCTOS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/servicios.html" class="encabezado_nav_items_boton"
              >SERVICIOS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a href="../view/nosotros.html" class="encabezado_nav_items_boton"
              >NOSOTROS
              <div class="circle"></div
            ></a>
          </li>
          <li>
            <a
              href="../view/preguntasFrecuentes.html"
              class="encabezado_nav_items_boton"
              >PREGUNTAS FRECUENTES
              <div class="circle"></div
            ></a>
          </li>
        </ul>
      </nav>
      <!-- CIERRE DE NAV-->
      <!-- REDES SOCIALES-->
      <div class="encabezado_redes">
        <a
          href="https://web.whatsapp.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/whatsapp.png" alt="Whats app"
        /></a>
        <a
          href="https://twitter.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/twitter.png" alt="Twitter"
        /></a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/instagram.png" alt="Instagram"
        /></a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="encabezado_redes_icon"
          ><img src="../img/facebook.png" alt="Facebook"
        /></a>
      </div>
      <!-- CIERRE REDES SOCIALES-->
    </header>
    <!-- CIERRE DEL ENCABEZADO-->
    <!-- INICIO DEL CONTENIDO-->
    <main class="main">
      <h2 class="preguntas_frecuentes_titulo">PREGUNTAS FRECUENTES</h2>
      <section class="preguntas_frecuentes">
        <ul>
          <li class="preguntas_frecuentes_pregunta">
            <h4>¿Cómo realizo el pago si no tengo cuenta de Mercado Libre?</h4>
            <ul>
              <li class="preguntas_frecuentes_respuesta">
                ¡Crear una cuenta es muy fácil! Al momento de comprar, te
                redirigiremos a Mercado Libre para que la crees. Sólo tenés que
                ingresar un e-mail, una clave y continuar con tu compra.
              </li>
              <br />
            </ul>
          </li>
          <li class="preguntas_frecuentes_pregunta">
            <h4>¿Dónde veo el costo de envío y el tiempo de entrega?</h4>
            <ul>
              <li class="preguntas_frecuentes_respuesta">
                En la página del producto que quieras comprar verás la opción de
                calcular cuándo llega, con la información sobre el costo de
                envío y el tiempo de entrega.
              </li>
              <br />
            </ul>
          </li>
          <li class="preguntas_frecuentes_pregunta">
            <h4>¿Puedo pagar en cuotas?</h4>
            <ul>
              <li class="preguntas_frecuentes_respuesta">
                Podrás ver en la página del producto si se puede pagar en cuotas
                y con qué medios. Si decidís comprarlo, antes de pagar podrás
                elegir la cantidad de cuotas y te informaremos el valor de cada
                una.
              </li>
              <br />
            </ul>
          </li>
          <li class="preguntas_frecuentes_pregunta">
            <h4>¿Qué cubre la garantía del producto?</h4>
            <ul>
              <li class="preguntas_frecuentes_respuesta">
                Bugs emergentes posteriores a cada entrega y revisión del
                producto y siempre se mantiene actualizado a las últimas
                tecnologías utilizadas.
              </li>
              <br />
            </ul>
          </li>
          <li class="preguntas_frecuentes_pregunta">
            <h4>¿Hacen mantenimiento?</h4>
            <ul>
              <li class="preguntas_frecuentes_respuesta">
                El mantenimiento es un servicio contratable con el que contamos
                y ofrecemos 3 distintos planes para que puedas optar por el que
                más se adecue a tus necesidades.
              </li>
              <br />
            </ul>
          </li>
        </ul>
      </section>
    </main>
    <!-- CIERRE DEL CONTENIDO-->
    <!-- INICIO DE FOOTER-->
    <footer class="footer">
      <div class="footer_contacto">
        <a href="../view/contacto.html">CONTACTO</a>
      </div>
      <div class="footer_autor">
        <p>Copyright © Raspa, Matias</p>
      </div>
    </footer>
    <!-- Cierre DE FOOTER-->
  </body>
</html>
